@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.cdnfonts.com/css/samarkan');

/* setting deafult edges to null */
*{
    margin:0;
    padding:0;
    border:0;
}

:root {
    font-family: 'karma', 'playfair', sans-serif;       
}

/* Stylize Logo */
#logo{
    font-family: 'Samarkan', sans-serif;
    text-shadow: #b57324;
    text-emphasis-color: #900a0a;
    float: left;
    font-weight: 700;
    font-size: 300%;
    color: #903118;
    margin-top: 30px;
    margin-left: 50px;
}

/* Stylize navigation elements*/
#nav-elements{
    float: right;
    margin-top: 52px;
    margin-right: 50px;
    font-family: 'karma', sans-serif;
    color: #903118;
}

#nav-elements li a{
    color:#903118;
    font-family: 'karma', sans-serif;
    font-weight: 500;
    font-size: larger;
}

#nav-elements li a:hover{
    color: #800707;
    box-shadow: 1 1 1px #b57324;
    text-shadow: 0 0 5px #b57324;
}

body{
    font-family: 'karma', sans-serif;
    color: #b57324;
}

/* hero image and the text within it */
#hero-image-bckgrd {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
 }
 
 #hero-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/Hero-img3.jpg") no-repeat center center;
    opacity: 0.8;
 }
 

 #text-in-hero {
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    text-decoration: #900a0a;  
    padding: 4rem;
    background-color: rgba(243, 184, 142, 0.4);
    border-radius: 80px;
    border: 2px solid #ea070b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 #text-in-hero p {
    color: #0b0b0b;
    text-align: center;
    text-shadow: 1px 1px #f20707;
    text-decoration: #900a0a;
    font-size: 150%;
 }

 /* adding border radius to email input and button to match the outer box */

.main-page {
    border: 2px solid #ea070b;
    border-radius: 5px;
    width: 200px;
    text-align: center;
 }
 
/* 3 blank and info cards */

.Image1, .Image2, .Image3 {
    
    text-align: center;
    text-shadow: 1px 1px #080808;
    padding: 4rem;
    background-color: rgba(245, 118, 0);
    border-radius: 60px;
    border: 2px solid #ea070b;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: 3s; 

}

/* hover effect added with help of codepen.io */

.hidden-text:hover {
    opacity: 1;
    font-size: 20px;
    background-color: rgba(245, 118, 0);    
    opacity: 0.8;
    text-shadow: 0 0 5px #000000;
    box-shadow: 1 1 1px #b57324;    
    box-shadow: 5px 10px #f5fe06;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  } 
  
  .hidden-text {
    
    color: #000000;
    box-shadow: 1 1 1px #b57324;
    text-shadow: 0 0 5px #b57324;
    background-color: rgba(245, 118, 0);
    
    font-size: 0px;
    -webkit-transition: .3s .5s;
    -moz-transition: .3s .5s;
    -o-transition: .3s .5s;
    transition: .3s .5s;
  } 

 /* Contact Us page styling */

#contact-page {
    height: 37.5rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#contact-image {
    height: 37.5rem;
    width: 100%;
    background-image: url("../images/Hero-img3.jpg");
    overflow: hidden;
}

#contact-container {
    font-family: 'Karma', sans-serif;
    padding: 4rem;    
    background-color: rgba(243, 184, 142, 0.8);
    border-radius: 80px;
    border: 2px solid #ea070b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-container header {
    font-family: 'Karma', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;    
    text-align: center;
}

#contact-container .form {
    margin-top: 30px;
}

.input-box {
    margin-top: 20px;    
    border-radius: 5px;
    width: 100%;
    background-clip: padding-box;
    text-align: left;

}

.input-value {
   background: rgb(250, 250, 250, 0.8);
   font-family: Lato, sans-serif;
   font-size: 100%;
   font-weight: 600;
   width: 100%;   
   border: 2px solid #ea070b;
   border-radius: 5px;
   padding: 0.3125rem;
   
}

.form .input-query {
        height: 100%;
}

.form .radio-message {
    margin-top: 30px;

}

#address-image {
    height: 37.5rem;
    width: 100%;
    background-image: url("../images/Hero-img3.jpg");
    overflow: hidden;
    transform: rotate(180deg);
}    

/* For larger to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px) {
    #contact-page {
        height: 37.5rem;
        position: relative;
        overflow: hidden;
    }
        
    #contact-page, #contact-container {
        width: 22.875rem;
        height: fit-content;
        
    }



    .input-value{
        font-size: 119%;
    }

    .form .radio-message .label {
        
        font-size: 200%;
    }





 }
 
 /* For small screen sizes from 750px wide and down */
 @media screen and (max-width: 750px) {
    #contact-page, #contact-container {
        width: 22.875rem;
        height: fit-content;
    }

    #contact-image {
        background: none;
    }

    #contact-container h3 {
        font-size: 3.75rem;
        text-align: center;
        margin-bottom: -3.75rem;

    }
    
 }
 
 /* For very small screen sizes from 450px wide and down */
 @media screen and (max-width: 450px) {
    #contact-panel-left,
    #contact-panel-right {
       width: 15.75rem;
       height: 41.25rem;
       padding: 2rem 1.5rem;
    }
 
    #welcome-text {
       padding: 2rem 0.625rem;
    }
 
    #welcome-text h3 {
       font-size: 400%
    }
 }
 
 /* For very small screen sizes re-size the flip-cards */
 @media screen and (max-width: 320px) {
    .flip-card,
    .flip-card-front img {
       width: 18.75rem;
       height: 18.75rem;
    }
 }
    
}

/* footer */
footer {
	background-image: url("../images/Hero-img3.jpg");
    padding-bottom: 16px;	
	width: 100%;
    opacity: 0.8;
    height: fit-content;
    position: relative;
    text-align: right;
}

footer > span {
    text-align: left;
    color:#000000;
    font-weight: 700;
    text-underline-offset: 8px;
}

footer > a {
	color: #000000;
	text-decoration: none;
    font-weight: 600;
	padding: 0 5px;
	font-size: 20px;
    text-align: right;
    margin-right: 5px;
}


