@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.cdnfonts.com/css/samarkan');

/* setting deafult edges to null */
*{
    margin:0;
    padding:0;
    border:0;
}

/* Stylize Logo */
#logo{
    font-family: 'Samarkan', sans-serif;
    text-shadow: #b57324;
    text-emphasis-color: #900a0a;
    float: left;
    font-weight: 700;
    font-size: 300%;
    color: #903118;
    margin-top: 30px;
    margin-left: 50px;
}

/* Stylize navigation elements*/
#nav-elements{
    float: right;
    margin-top: 52px;
    margin-right: 50px;
    font-family: 'karma', sans-serif;
    color: #903118;
}

#nav-elements li a{
    color:#903118;
    font-family: 'karma', sans-serif;
    font-weight: 500;
    font-size: larger;
}

#nav-elements li a:hover{
    color: #800707;
    box-shadow: 1 1 1px #b57324;
    text-shadow: 0 0 5px #b57324;
}

body{
    font-family: 'karma', sans-serif;
    color: #b57324;
}

/* hero image and the text within it */
#hero-image-bckgrd {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
 }
 
 #hero-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/Hero-img3.jpg") no-repeat center center;
    opacity: 0.8;
 }
 

 #text-in-hero {
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    text-decoration: #900a0a;  
    padding: 4rem;
    background-color: rgba(243, 184, 142, 0.4);
    border-radius: 80px;
    border: 2px solid #ea070b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 #text-in-hero p {
    color: #0b0b0b;
    text-align: center;
    text-shadow: 1px 1px #f20707;
    text-decoration: #900a0a;
    font-size: 150%;
 }

 /* adding border radius to email input and button to match the outer box */

 input {
    border: 2px solid #ea070b;
    border-radius: 5px;
    width: 200px;
    text-align: center
 }
 
 .btn-style {
    border: 2px solid #ea070b;
 }

/* 3 image and info cards */

.Image1, .Image2, .Image3 {
    
    background-image: url("../images/infocard-img.jpg");
    text-align: center;
    text-shadow: 1px 1px #080808;
    padding: 4rem;
    background-color: rgba(245, 118, 0);
    border-radius: 60px;
    border: 2px solid #ea070b;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 30px;
     

}

/* hover effect added with help of codepen.io */

.hidden-text:hover {
    opacity: 1;
    font-size: 20px;
    background-color: rgba(245, 118, 0);
    color: #800707;
    box-shadow: 1 1 1px #b57324;
    text-shadow: 0 0 5px #b57324;
    box-shadow: 5px 10px #f5fe06;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  
  .hidden-text {
    
    color: #800707;
    box-shadow: 1 1 1px #b57324;
    text-shadow: 0 0 5px #b57324;
    background-color: rgba(245, 118, 0);
    opacity: 0.8;
    font-size: 0px;
    -webkit-transition: .3s .5s;
    -moz-transition: .3s .5s;
    -o-transition: .3s .5s;
    transition: .3s .5s;
  }
  
